.App {
  text-align: center;
  background-color: #312259 ;
  min-height: 100vh;
  
}
h1{
  color: white;
  font-family: Michroma;
  word-spacing: 5px;
}
.Container{
  background-image: url('/src/Images/back-view-crowd-fans-watching-live-performance-music-concert-night-copy-space_637285-544.webp');
  background-position: -437px -140px;
 
 height: 90vh;
 width: 100%;

 
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  
}


.NavBar{
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 10vh;
  align-content: center;
}
.Logo{
  font-family: 'Bungee Shade', cursive;
  font-size: 84px;
  margin: 0;
}
a{
  color: white;
  font-family: Michroma;
  letter-spacing: 5px;
  align-self: center;
}

.Search{
  display: flex;
align-content: center;
}



.SearchBar{
display: flex ;
margin: 10px;
align-items:  center;
justify-content: center;
color: white;
font-family: Michroma;
word-spacing: 5px;

}

.SearchResults{
  padding: 10px;
  color: white;
  font-family: Michroma;
  word-spacing: 5px;
}


.SearchImage{
  height: 500px;
  width: auto;
}

.TopTracks{
  display:flex;
  flex-direction: column;
  color: white;
  font-family: Michroma;
}


.Similar{
  display: flex;
  justify-content: center;
}

.About{
  display:flex;
  color: white;
  font-family: Michroma;
  word-spacing: 5px;
  font-size: 24px;
  word-spacing: 10px;
  height: 90vh;
 
}

.Card{
  height: 200px;
  width: 200px;
  margin: 5px;
}

.CardContainer{
  display:flex;
  height: 300px;
}



@media screen and (max-width: 768px) {
  .NavBar{
    width: 768px;
  }

  .Search{
    width: 768px;
  }

  .SearchImage{
  height: 300px;
  width: 300px;
  }

  .Card{
    height: 150x;
    width: 150px;
    margin: 5px;
  }

  .CardContainer{
    display:flex;
    height: 350px;
  }

  .About{
font-size: 18px;
  }
}


@media screen and (max-width: 553px) {
.App{
  width: 768px ;
}

.SearchBar{
  font-size: 48px;
}
.ABout{
  font-size: 12px;
}
h3{
  font-size: 48px;
}

p{
  font-size: 48px;
}

.Container{
  width: 768px;
  height: 990px;

}

}
