.App {
  text-align: center;
  
}
.Container{
  background-image: url('/src/Images/back-view-crowd-fans-watching-live-performance-music-concert-night-copy-space_637285-544.webp');
  background-position: -437px -140px;
 
 height: 90vh;
 width: 100%;

 
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
  
}


.NavBar{
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 10vh;
  align-content: center;
}
.Logo{
  font-family: 'Bungee Shade', cursive;
  font-size: 84px;
  margin: 0;
}
a{
  color: white;
  font-family: Michroma;
  letter-spacing: 5px;
  align-self: center;
}

.Search{
  background-color: #312259 ;
  color: white;
  font-family: Michroma;
  height: 90vh; 
  width: 100vw;
}

.SearchContainer{
  display: flex;
}

.SearchImage{
  height: auto;
  width: auto;
}

.Lyrics{
  display: flex;
  justify-content: center;
  background-color: #312259 ;
  color: white;
  height: 90vh; 
  width: 100vw;
}
.Similar{
  display: flex;
  justify-content: center;
  background-color: #312259 ;
  color: white;
  height: 90vh; 
  width: 100vw;
}

.About{
  display:flex;
  background-color: #312259 ;
  color: white;
  font-family: Michroma;
  font-size: 24px;
  word-spacing: 10px;
  height: 90vh;
 
}

h4{
  margin: 0;
}
input{
  height: 22px;
  
}