.App{
  /* width: 768px; */
  text-align: center;
  background-color: #312259 ;
  min-height: 100vh;
}

h1{
  color: white;
  font-family: Michroma;
  word-spacing: 5px;
  font-size: 32px;
}

.Container{
  background-image: url('/src/Images/back-view-crowd-fans-watching-live-performance-music-concert-night-copy-space_637285-544.webp');
  background-position: -437px -140px;
 
  height: 90vh;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Logo{
  font-family: 'Bungee Shade', cursive;
  /*font-size: 84px;  FOR DESKTOP */
  font-size: 48px;
  margin: 0;
  padding-top: 20px;

}

.NavBar{
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 10vh;
  align-content: center;
  /* width: 768px; */
  padding: 10px;
  /* margin-bottom: 30px; */
  left: 0;
}

/* FOR DESKTOP */
/* .NavButton{
  display: none;
} */

.Hamburger{
  position: relative;
  width: 100%;
}

.Hamburger,.Hamburger::before,.Hamburger::after{
  background-color: white;
  display: block;
  height: 6px;
}

.Hamburger::before, .Hamburger::after{
  content: "";
  width: 100%;
}

.Hamburger::before{
  transform: translateY(-10px);
}

.Hamburger::after{
  transform: translateY(5px);
}

nav{
  display: none;
  background-color: black;
  opacity: .75;
  width: 80%;
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 15px 0;
}
  
nav.visible{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
  
.NavButton{
  cursor: pointer;
  border: 0;
  width: 40px;
  height: 26px;
  padding: 0;
  color: white;
  background-color: transparent;
  transition: color 250ms ease;
  position: relative;
  top: 50%;
  transform: translateY(-50%); /* got this line from here: https://stackoverflow.com/questions/28455100/how-to-center-div-vertically-inside-of-absolutely-positioned-parent-div*/
}

a{
  color: white;
  font-family: Michroma;
  letter-spacing: 2px;
  align-self: center;
}

h3{
  font-size: 28px;
}

p{
  font-size: 24px;
}

h3 + p {
  margin-top: 0;
}

.SearchBar{
  display: flex ;
  margin: 30px 10px 10px;
  align-items:  center;
  justify-content: center;
  color: white;
  font-family: Michroma;
  word-spacing: 5px;
  font-size: 48px;
  
}
  
.SearchResults{
  padding: 20px;
  color: white;
  font-family: Michroma;
  word-spacing: 5px;
}

.SearchBar {
  display: flex;
  flex-direction: column;
}
  
.SearchBar button {
  margin: 15px 0 50px;
}
  
.SearchImage{
  /* height: 500px;
  width: auto; */  /* Generally, you want the height to be auto, and you change the width */
  width: 80%;
  display: block;
  margin: 0 auto;
}
  
.TopTracks{
  display:flex;
  flex-direction: column;
  color: white;
  font-family: Michroma;
}

.Similar{
  display: flex;
  justify-content: center;
}

.About{
  display:flex;
  color: white;
  font-family: Michroma;
  word-spacing: 5px;
  font-size: 24px;
  word-spacing: 10px;
  min-height: 90vh;
  padding: 0 5vw;
}

.About p {
  margin-top: 0;
}
  
.Card{
  /* height: 400px; */
  width: 150px;
  margin: 5px;
}

.CardContainer{
  display:flex;
  /* height: 380px; */
  padding-bottom: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

h4 {
  margin-top: 0;
  margin-bottom: 30px;
}

.Trending-div {
  min-height: 100vh;
  padding: 0 4vw;
}

.wrapper {
  /* margin-bottom: 10px; */
}




/* @media screen and (max-width: 768px) {
  .NavBar{
    width: 768px;
  }

  .Search{
    width: 768px;
  }

  .SearchImage{
  height: 300px;
  width: 300px;
  }

  .Card{
    height: 150x;
    width: 150px;
    margin: 5px;
  }

  .CardContainer{
    display:flex;
    height: 350px;
  }

  .About{
font-size: 18px;
  }
} */


/* @media screen and (max-width: 553px) {
.App{
  width: 768px ;
}

.SearchBar{
  font-size: 48px;
}
.ABout{
  font-size: 12px;
}
h3{
  font-size: 48px;
}

p{
  font-size: 48px;
}

.Container{
  width: 768px;
  height: 990px;

}

} */
